.container {
    width: 437px;
    height: 462px;
    border-radius: 12px;
    background: radial-gradient(circle at 10% 20%, rgb(64, 84, 178) 0%, rgb(219, 2, 234) 90%);
}

.weather-image{
    display: flex;
    justify-content: center;
}
.weather-temp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
    font-weight: 500;
}
.weather-location{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-weight: 500;
}
.data-container{
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    align-items: center;
    justify-content: space-between;
     
}
.element{
    display: flex;
    align-items: center;
    gap: 12px;
}
.data{
    font-size: 35px;
    font-weight: 500;
}
.text{
    font-size: 20px;
    font-weight: 500;
}
.icon{
    margin: 10px;
}